.categories-container{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.categories{
    display: flex;
    align-items: center;
    gap: 38px;
    font-family: "Inter", serif;
    color: rgba(107, 114, 128, 1);
    font-weight: 500;
}
.line{
    width: 100%;
    background-color: rgba(229, 231, 235, 1);
    height: 1px;
}