.products-conatiner {
  padding-top: 9px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 8px;
  height: 45px;
}
.product-second-container {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.first-container {
  display: flex;
  flex-direction: column;
}
.product-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 652px;
  background-color: rgba(248, 246, 244, 1);
}
.product-image {
  width: 100%;
  object-fit: contain;
}
.product {
  display: flex;
  gap: 25px;
}
.product-details {
  flex: 1;
  height: 625px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
}
.product-title-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.product-price {
  display: flex;
  font-weight: 400;
  gap: 7px;
  align-items: center;
  margin-bottom: 11px;
  font-family: "Geist", sans-serif;
}
.price {
  font-size: 24px;
}
.piece {
  font-size: 14px;
  color: rgba(156, 156, 156, 1);
}
.product-scale-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Geist", sans-serif;
  font-weight: 400;
}
.scale-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.scale {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 19px 0px;
}
.referal {
  color: rgba(156, 156, 156, 1);
}
.product-about-conatiner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgba(93, 93, 93, 1);
  font-family: "Geist", sans-serif;
  font-weight: 400;
  padding-top: 15px;
  font-size: 14px;
}
.product-button-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: "Geist", sans-serif;
}
.product-buttons {
  display: flex;
  gap: 8px;
}
.add-button {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  height: 49px;
  border: solid 1px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
}
.add-to-cart-button {
  flex: 3;
  background-color: rgba(92, 210, 221, 1);
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.product-description-container {
  display: flex;
  gap: 20px;
}
.description-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  font-family: "Geist", sans-serif;
  font-weight: 400;
}
.description-heading {
  font-size: 20px;
}
.description {
  color: rgba(156, 156, 156, 1);
  font-size: 14px;
}
.questions-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}
.questions {
  display: flex;
  background-color: rgba(251, 249, 248, 0.6);
  height: 62px;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 20px;
}
